<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".stats.StatsClass"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TenniStats"
        tools:targetApi="31">
        <activity
            android:name=".player.DeletePlayerActivity"
            android:exported="false"
             />
        <activity
            android:name=".dialog.DeleteMatchDialog"
            android:exported="false"
             />
        <activity
            android:name=".player.AddPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".player.PlayerDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".stats.ViewHistoryActivity"
            android:exported="false"
            />
        <activity
            android:name=".stats.ViewStatsActivity"
            android:exported="false"
            />
        <activity
            android:name=".player.ViewPlayerActivity"
            android:exported="false"
            android:label="@string/title_activity_view_player"
            android:theme="@style/Theme.TenniStats"
            />

        <activity
            android:name=".stats.ViewMatchesActivity"
            android:exported="false"
            />
        <activity
            android:name=".matchplay.EndOfMatchActivity"
            android:exported="false"
            />
        <activity
            android:name=".matchplay.BallInPlayDetailsActivity"
            android:exported="false"
            />
        <activity
            android:name=".matchplay.BallInPlayActivity"
            android:exported="false"
            />
        <activity
            android:name=".matchplay.StartPointActivity"
            android:exported="false"
            />
        <activity
            android:name=".matchplay.ServeActivity"
            android:exported="false"
            android:parentActivityName=".matchplay.StartNewActivity"
            />
        <activity
            android:name=".mainpage.SignUpActivity"
            android:exported="false"
            />
        <activity
            android:name=".mainpage.SignInActivity"
            android:exported="false"
            />
        <activity
            android:name=".stats.ActivityMatchShortSummary"
            android:exported="false"
            />
        <activity
            android:name=".mainpage.MenuActivity"
            android:exported="false"
            />
        <activity
            android:name=".mainpage.MainActivity"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".stats.Head2HeadActivity"
            android:exported="true"/>
        <activity
            android:name=".matchplay.StartNewActivity"
            android:exported="false"
            android:parentActivityName=".mainpage.MenuActivity"
            />
        <activity
            android:name=".player.ViewTeamActivity">
        </activity>
        <activity
            android:name=".tournament.AddTournamentActivity"
            android:exported="false"/>
        <activity
            android:name=".tournament.ViewTournamentsActivity"
            android:exported="false"/>
        <activity
            android:name=".tournament.TournamentDetailsActivity"
            android:exported="false"/>
        <activity
            android:name=".tournament.TournamentFilterActivity"
            android:exported="false"/>
        <activity
            android:name=".tournament.AddPlayersToTournamentActivity"
            android:exported="false"/>
        <activity
            android:name=".tournament.GenerateDrawActivity"
            android:exported="false"/>
        <activity
            android:name=".tournament.AddRoundMatchActivity"
            android:exported="false"/>
        <activity
            android:name=".tournament.UpdateEditMatchActivity"
            android:exported="false"/>
        <activity
            android:name=".tournament.ChangeEditMatchActivity"
            android:exported="false"/>
        <activity
            android:name=".CalendarTournamentActivity"
            android:exported="false"/>
        <activity
            android:name=".CalendarCoachActivity"
            android:exported="false"/>
        <activity
            android:name=".CalendarEventActivity"
            android:exported="false"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>